@layer Intro {
  .intro {
    .introContactLinks {
      text-align: right;
    }
  }

  .copyButtonWrapper {
    margin: 0px;
    margin-bottom: 2px;

    @media print {
      display: none !important;
    }
  }
}
