@layer PaperA4 {
  .paperA4 {
    margin: 1cm auto;
    background: #fff;
    box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
    outline: 0;

    @media print {
      width: initial !important;
      height: 272mm !important;
      min-height: initial !important;
      margin: 0 !important;
      padding: 0 !important;
      border: initial !important;
      border-radius: initial !important;
      background: initial !important;
      box-shadow: initial !important;
      page-break-after: always;
    }

    width: 21cm;
    height: 305mm;
    padding: 1cm 1cm 1cm 1cm;

    @page {
      orphans: 4;
      widows: 2;
      size: A4 portrait;
      margin: 1cm 1cm 1cm 1cm;
      height: 272mm !important;
    }
  }
}
